apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: rand-string-ing
spec:
  rules:
    - http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: rand-string-svc
                port:
                  number: 2500
